/* styles.css */

/* Modo claro predeterminado */
body {
    background-color: #FFFFFF;
    color: #000000;
}

.navbar-light {
    background-color: #F8F9FA !important;
}

footer {
    background-color: #F8F9FA;
    color: #000000;
}

.card {
    background-color: #FFFFFF;
    color: #000000;
}

.modal-content {
    background-color: #FFFFFF;
    color: #000000;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #000000;
    color: #FFFFFF;
}

body.dark-mode .navbar {
    background-color: #000000 !important;
}

body.dark-mode .navbar-brand,
body.dark-mode .nav-link,
body.dark-mode .dark-mode-toggle {
    color: #DC3545 !important;
}

body.dark-mode footer {
    background-color: #000000;
    color: #FFFFFF;
}

body.dark-mode .card,
body.dark-mode .modal-content {
    background-color: #212529;
    color: #FFFFFF;
    border-color: #DC3545;
}

body.dark-mode .card-header {
    background-color: #DC3545;
    color: #FFFFFF;
}

body.dark-mode .btn-outline-primary {
    color: #DC3545;
    border-color: #DC3545;
}

body.dark-mode .btn-outline-primary:hover {
    background-color: #DC3545;
    color: #FFFFFF;
}

body.dark-mode .text-muted {
    color: #AAAAAA !important;
}

.dark-mode-toggle {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 15px;
}

.hover-effect:hover {
    background-color: #E5F2B5;
    color: #99B930;
    transition: 0.3s;
}

body.dark-mode .hover-effect:hover {
    background-color: #DC3545;
    color: #FFFFFF;
}

.section-background {
    background-color: #F8F9FA;
    padding: 40px 0;
    margin-top: 30px;
}

body.dark-mode .section-background {
    background-color: #212529;
}